# Group by

## importing library

In [1]:
import pandas as pd

## importing  dataset

In [2]:
df = pd.read_csv(r"D:\Data Science\archive\winequality_white.csv")
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

## group by on single column

In [3]:
groupby_df = df.groupby("quality")

In [4]:
groupby_df.mean()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
quality,,,,,,,,,,,
3,7.600000,0.333250,0.336000,6.392500,0.054300,53.325000,170.600000,0.994884,3.187500,0.474500,10.345000
4,7.129448,0.381227,0.304233,4.628221,0.050098,23.358896,125.279141,0.994277,3.182883,0.476135,10.152454
5,6.933974,0.302011,0.337653,7.334969,0.051546,36.432052,150.904598,0.995263,3.168833,0.482203,9.808840
6,6.837671,0.260564,0.338025,6.441606,0.045217,35.650591,137.047316,0.993961,3.188599,0.491106,10.575372
7,6.734716,0.262767,0.325625,5.186477,0.038191,34.125568,125.114773,0.992452,3.213898,0.503102,11.367936
8,6.657143,0.277400,0.326514,5.671429,0.038314,36.720000,126.165714,0.992236,3.218686,0.486229,11.636000
9,7.420000,0.298000,0.386000,4.120000,0.027400,33.400000,116.000000,0.991460,3.308000,0.466000,12.180000

## popular aggregate functions

### aggregate function - mean()

In [5]:
df.groupby("quality").mean()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
quality,,,,,,,,,,,
3,7.600000,0.333250,0.336000,6.392500,0.054300,53.325000,170.600000,0.994884,3.187500,0.474500,10.345000
4,7.129448,0.381227,0.304233,4.628221,0.050098,23.358896,125.279141,0.994277,3.182883,0.476135,10.152454
5,6.933974,0.302011,0.337653,7.334969,0.051546,36.432052,150.904598,0.995263,3.168833,0.482203,9.808840
6,6.837671,0.260564,0.338025,6.441606,0.045217,35.650591,137.047316,0.993961,3.188599,0.491106,10.575372
7,6.734716,0.262767,0.325625,5.186477,0.038191,34.125568,125.114773,0.992452,3.213898,0.503102,11.367936
8,6.657143,0.277400,0.326514,5.671429,0.038314,36.720000,126.165714,0.992236,3.218686,0.486229,11.636000
9,7.420000,0.298000,0.386000,4.120000,0.027400,33.400000,116.000000,0.991460,3.308000,0.466000,12.180000

### aggregate function - count()

In [6]:
df.groupby("quality").count()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
quality,,,,,,,,,,,
3,20,20,20,20,20,20,20,20,20,20,20
4,163,163,163,163,163,163,163,163,163,163,163
5,1457,1457,1457,1457,1457,1457,1457,1457,1457,1457,1457
6,2198,2198,2198,2198,2198,2198,2198,2198,2198,2198,2198
7,880,880,880,880,880,880,880,880,880,880,880
8,175,175,175,175,175,175,175,175,175,175,175
9,5,5,5,5,5,5,5,5,5,5,5

### aggregate function - min()

In [7]:
df.groupby("quality").min()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
quality,,,,,,,,,,,
3,4.2,0.17,0.21,0.7,0.022,5.0,19.0,0.99110,2.87,0.28,8.0
4,4.8,0.11,0.00,0.7,0.013,3.0,10.0,0.98920,2.83,0.25,8.4
5,4.5,0.10,0.00,0.6,0.009,2.0,9.0,0.98722,2.79,0.27,8.0
6,3.8,0.08,0.00,0.7,0.015,3.0,18.0,0.98758,2.72,0.23,8.5
7,4.2,0.08,0.01,0.9,0.012,5.0,34.0,0.98711,2.84,0.22,8.6
8,3.9,0.12,0.04,0.8,0.014,6.0,59.0,0.98713,2.94,0.25,8.5
9,6.6,0.24,0.29,1.6,0.018,24.0,85.0,0.98965,3.20,0.36,10.4

### aggregate function - max()

In [8]:
df.groupby("quality").max()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
quality,,,,,,,,,,,
3,11.8,0.640,0.47,16.20,0.244,289.0,440.0,1.00010,3.55,0.74,12.6
4,10.2,1.100,0.88,17.55,0.290,138.5,272.0,1.00040,3.72,0.87,13.5
5,10.3,0.905,1.00,23.50,0.346,131.0,344.0,1.00241,3.79,0.88,13.6
6,14.2,0.965,1.66,65.80,0.255,112.0,294.0,1.03898,3.81,1.06,14.0
7,9.2,0.760,0.74,19.25,0.135,108.0,229.0,1.00040,3.82,1.08,14.2
8,8.2,0.660,0.74,14.80,0.121,105.0,212.5,1.00060,3.59,0.95,14.0
9,9.1,0.360,0.49,10.60,0.035,57.0,139.0,0.99700,3.41,0.61,12.9

### aggregate function - sum()

In [9]:
df.groupby("quality").sum()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
quality,,,,,,,,,,,
3,152.00,6.665,6.72,127.85,1.086,1066.5,3412.0,19.897680,63.75,9.49,206.900000
4,1162.10,62.140,49.59,754.40,8.166,3807.5,20420.5,162.067100,518.81,77.61,1654.850000
5,10102.80,440.030,491.96,10687.05,75.103,53081.5,219868.0,1450.097565,4616.99,702.57,14291.480000
6,15029.20,572.720,742.98,14158.65,99.388,78360.0,301230.0,2184.727045,7008.54,1079.45,23244.666667
7,5926.55,231.235,286.55,4564.10,33.608,30030.5,110101.0,873.358110,2828.23,442.73,10003.783333
8,1165.00,48.545,57.14,992.50,6.705,6426.0,22079.0,173.641290,563.27,85.09,2036.300000
9,37.10,1.490,1.93,20.60,0.137,167.0,580.0,4.957300,16.54,2.33,60.900000

### agg() function

In [12]:
df.groupby("quality").agg({'fixed acidity' : ['mean', 'max', 'sum', 'min', 'count'], 'volatile acidity' : ['mean', 'max', 'sum', 'min', 'count']})

        fixed acidity                            volatile acidity         \
                 mean   max       sum  min count             mean    max
quality
3            7.600000  11.8    152.00  4.2    20         0.333250  0.640
4            7.129448  10.2   1162.10  4.8   163         0.381227  1.100
5            6.933974  10.3  10102.80  4.5  1457         0.302011  0.905
6            6.837671  14.2  15029.20  3.8  2198         0.260564  0.965
7            6.734716   9.2   5926.55  4.2   880         0.262767  0.760
8            6.657143   8.2   1165.00  3.9   175         0.277400  0.660
9            7.420000   9.1     37.10  6.6     5         0.298000  0.360


             sum   min count
quality
3          6.665  0.17    20
4         62.140  0.11   163
5        440.030  0.10  1457
6        572.720  0.08  2198
7        231.235  0.08   880
8         48.545  0.12   175
9          1.490  0.24     5

### group by on multiple column

In [15]:
df.groupby(['quality', 'alcohol']).agg({'fixed acidity' : ['mean', 'max', 'sum', 'min', 'count'], 'volatile acidity' : ['mean', 'max', 'sum', 'min', 'count']})

                fixed acidity                         volatile acidity         \
                         mean   max   sum   min count             mean    max
quality alcohol
3       8.0               4.2   4.2   4.2   4.2     1            0.215  0.215
        8.5               9.1   9.1   9.1   9.1     1            0.590  0.590
        9.1               7.7   7.9  15.4   7.5     2            0.480  0.640
        9.4               6.7   6.7   6.7   6.7     1            0.250  0.250
        9.6              10.3  10.3  10.3  10.3     1            0.170  0.170
...                       ...   ...   ...   ...   ...              ...    ...
9       10.4              9.1   9.1   9.1   9.1     1            0.270  0.270
        12.4              6.6   6.6   6.6   6.6     1            0.360  0.360
        12.5              7.4   7.4   7.4   7.4     1            0.240  0.240
        12.7              6.9   6.9   6.9   6.9     1            0.360  0.360
        12.9              7.1   7.1   7.1   7.1     1            0.260  0.260


                   sum    min count
quality alcohol
3       8.0      0.215  0.215     1
        8.5      0.590  0.590     1
        9.1      0.960  0.320     2
        9.4      0.250  0.250     1
        9.6      0.170  0.170     1
...                ...    ...   ...
9       10.4     0.270  0.270     1
        12.4     0.360  0.360     1
        12.5     0.240  0.240     1
        12.7     0.360  0.360     1
        12.9     0.260  0.260     1

[306 rows x 10 columns]

### describe() function

In [19]:
df.groupby(['quality', 'alcohol']).describe()

                fixed acidity                                                \
                        count  mean       std   min   25%   50%   75%   max
quality alcohol
3       8.0               1.0   4.2       NaN   4.2   4.2   4.2   4.2   4.2
        8.5               1.0   9.1       NaN   9.1   9.1   9.1   9.1   9.1
        9.1               2.0   7.7  0.282843   7.5   7.6   7.7   7.8   7.9
        9.4               1.0   6.7       NaN   6.7   6.7   6.7   6.7   6.7
        9.6               1.0  10.3       NaN  10.3  10.3  10.3  10.3  10.3
...                       ...   ...       ...   ...   ...   ...   ...   ...
9       10.4              1.0   9.1       NaN   9.1   9.1   9.1   9.1   9.1
        12.4              1.0   6.6       NaN   6.6   6.6   6.6   6.6   6.6
        12.5              1.0   7.4       NaN   7.4   7.4   7.4   7.4   7.4
        12.7              1.0   6.9       NaN   6.9   6.9   6.9   6.9   6.9
        12.9              1.0   7.1       NaN   7.1   7.1   7.1   7.1   7.1

                volatile acidity         ...      pH       sulphates        \
                           count   mean  ...     75%   max     count  mean
quality alcohol                          ...
3       8.0                  1.0  0.215  ...  3.4200  3.42       1.0  0.44
        8.5                  1.0  0.590  ...  3.2300  3.23       1.0  0.38
        9.1                  2.0  0.480  ...  3.0725  3.14       2.0  0.62
        9.4                  1.0  0.250  ...  3.5500  3.55       1.0  0.63
        9.6                  1.0  0.170  ...  2.8900  2.89       1.0  0.28
...                          ...    ...  ...     ...   ...       ...   ...
9       10.4                 1.0  0.270  ...  3.2000  3.20       1.0  0.46
        12.4                 1.0  0.360  ...  3.4100  3.41       1.0  0.61
        12.5                 1.0  0.240  ...  3.2800  3.28       1.0  0.48
        12.7                 1.0  0.360  ...  3.2800  3.28       1.0  0.36
        12.9                 1.0  0.260  ...  3.3700  3.37       1.0  0.42


                      std   min   25%   50%   75%   max
quality alcohol
3       8.0           NaN  0.44  0.44  0.44  0.44  0.44
        8.5           NaN  0.38  0.38  0.38  0.38  0.38
        9.1      0.169706  0.50  0.56  0.62  0.68  0.74
        9.4           NaN  0.63  0.63  0.63  0.63  0.63
        9.6           NaN  0.28  0.28  0.28  0.28  0.28
...                   ...   ...   ...   ...   ...   ...
9       10.4          NaN  0.46  0.46  0.46  0.46  0.46
        12.4          NaN  0.61  0.61  0.61  0.61  0.61
        12.5          NaN  0.48  0.48  0.48  0.48  0.48
        12.7          NaN  0.36  0.36  0.36  0.36  0.36
        12.9          NaN  0.42  0.42  0.42  0.42  0.42

[306 rows x 80 columns]